<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Weather App</title>

</head>
<body>
    <div id="main-screen">
        <header>
            <div class="input-wrapper">
                <input type="text" id="input-search" placeholder="Search for a city" spellcheck="false" autocomplete="off">
                <button class="btn-search" onclick="getCity(); cleanVal()"><i class="fa fa-search"></i></button>
            </div>
            <p id="error"></p>
        </header>
        <main>
            <div id="main">
                <section class="location">
                    <div class="city">
                        <h1 id="name" class="font-city"></h1><h1 class="font-city">/</h1><h1 id="region" class="font-city"></h1>
                    </div>
                    <div class="country">
                        <h1 id="country"></h1>
                    </div>
                    <div class="day">
                        <h1 id="day-week" class="font-day"></h1><h1 id="day" class="font-day"></h1><h1 id="month" class="font-day"></h1><h1 id="year" class="font-day"></h1>
                    </div>
                    <div class="time">
                        <h1 id="time" class="font-time"></h1>
                    </div>
                </section>
                <section class="main-temp">
                    <div class="temp">                                                                                          
                        <h1 id="temp" class="font-temp"></h1><h1 class="font-temp">°C</h1>
                    </div>
                </section>
                <section class="weather">
                    <div class="main">
                        <h1 id="weather-main"></h1>
                    </div>
                    <div class="min-max">
                        <h1 id="temp-min"></h1><h1>°C</h1><h1 id="bar">/</h1><h1 id="temp-max"></h1><h1>°C</h1>
                    </div>
                </section>
            </div> 
        </main>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>